
:root {
	--color-accent: #32d487; /* Green */
	--color-dark: #1c1b2e; /* Dark Blue */
	--color-light: #6dd8a7; /* Light Green */
	--yellow-color: #f2c332;
	--yellow-dark-color: #e3b21f;
	--dark-color: #2e374e;
	--color-dark-transparent: rgba(28, 27, 46, 0.5);
	/* Gradients */
	--gradient-primary: linear-gradient(45deg, #8563c1, #32d487);
	--gradient-secondary: linear-gradient(45deg, #f4f9f6, #6dd8a7);
	--gradient-dark: linear-gradient(45deg, #1c1b2e, #8563c1);
	--background: linear-gradient(135deg, #1c1b2e, #2d2b41);
	/* Fonts */
	--font-body: "Roboto", sans-serif;

	--font-heading: "Inter", sans-serif;

	/* Box Shadows */
	--box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	--box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	--box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}



/* this is the popup form to dit or add content depends on what you are using it for */
.addNew__method--overlay,
.upadetForm-overlay,
.edit__profile--popup{
	position: fixed;
	bottom: 0;
	right: 0;
left: 0;
top: 0;
z-index: 100;
display: flex;
justify-content: center;
background-color: rgba(0, 0, 0, 0.04);
padding: 4rem;
}
#hidAddNewMethodForm,
#hideUpdateForm{
	display: none;
}

.form-popup{
	background-color: white;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 2rem;
	max-height: 450px;
	border-radius: 0.4rem;
}
.form-group{
	width: 80%;
	
}
.form-group-item{
	width: 100%;
	height: 40px;
	border-radius: 0.4rem;
	font-size: 16px;
	color: #666;
	padding: 0.2rem 0.8rem;
	outline: var(--ccolor);
	font-family: var(--font-body);
	border: none;
	text-align: left;
	background-color: #f1f1f2;

}
.form-group-item:focus{
	outline: var(--ccolor);
}
label{
	display: block;
	font-size: 18px;
	color: #444;
	font-family: var(--font-heading);
	margin-block: 0.4rem;
	font-weight: 500;
}
.submit-buttons{
	display: flex;
	align-items: center;
	margin-block: 1rem;
	justify-content: center;
	gap: 4rem;
}

.submitBtn{
	font-size: 18px;
	padding: 0.5rem 1rem;
	border: none;
	background-color: var(--color-accent);
	cursor: pointer;
	color: var(--color-dark);
	border-radius: 0.2rem;
	font-family: var(--font-body);
	transition: all 0.3s linear;
}
.closUpdateForm,
.close{
	background-color: #ea3939dd;
	color: #fff;
}
.save{
	transition: all 0.3s linear;
}
.save:hover{
	background-color: var(--ccolor);
	color: #fff;
}
.close:hover{
	background-color: #b93939;
}
.hide-editForm{
	display: none;
}