/** @format */

:root {
	--color-accent: #32d487; /* Green */
	--color-dark: #1c1b2e; /* Dark Blue */
	--color-light: #6dd8a7; /* Light Green */
	--yellow-color: #f2c332;
	--yellow-dark-color: #e3b21f;
	--dark-color: #2e374e;
	--color-dark-transparent: rgba(28, 27, 46, 0.5);
	/* Gradients */
	--gradient-primary: linear-gradient(45deg, #8563c1, #32d487);
	--gradient-secondary: linear-gradient(45deg, #f4f9f6, #6dd8a7);
	--gradient-dark: linear-gradient(45deg, #1c1b2e, #8563c1);
	--background: linear-gradient(135deg, #1c1b2e, #2d2b41);
	/* Fonts */
	--font-body: "Roboto", sans-serif;

	--font-heading: "Inter", sans-serif;

	/* Box Shadows */
	--box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	--box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	--box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}
body{
	background-color:#f2f2f1;
}

.reports-wrapper{
	
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

margin-block: 2rem;
gap: 1rem;
margin-right: 2rem;
}
.headings{
	font-size: 28px;
	font-family: var(--font-heading);
	font-weight: 700;
	color: var(--color-dark);
}
.report__item{
	box-shadow: var(--box-shadow1);
	padding: 2rem 1rem;
	width: 100%;
	gap: 2rem;
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	background-color: #ffff;
}
.report__text{
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.report__icons{
	font-size: 40px;
	font-weight: 700;
}
.report__icons .fa-users{
	color:  #FF5722;
}
.report__icons .fa-user-md{
	color: var(--color-accent);
}
.report__icons .fa-calendar-check{
	color: #388E3C;
}
.report__icons .fa-file-invoice-dollar{
	color: #FBC02D;
}
.report__icons .fa-users-line{
	color: #1A237E;
}
.report__icons .fa-calculator{
	color:  #7B1FA2;
}
.report__icons .fa-dollar-sign{
	color: #00796B;
}
.report__text .count{
	color: var(--color-dark);
	font-size: 20px;
	font-weight: 500;
	font-family: var(--font-body);
}
.report__text .count-text{
	color: #666;
	font-family: var(--font-body);
	font-size: 18px;
}
 /* the recnet user stylying here */
.recents{
	display: grid;
	margin-right: 1.4rem;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


}
.userPhoto{
	min-width: 40px;
	min-height: 40px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	gap: 2rem;
	vertical-align: center;
	border: 2px solid #388E3C;
}
.recent-apppointments{


padding: 1rem;
margin-left: 1rem;
}
.recent-apppointments,
.recent-users{
	
	padding: 1rem;
	margin-bottom: 2rem;

	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 1rem;
	backdrop-filter: blur(40%);
}

.recent__users--wrapper{
	display: flex;
	border: 1px solid #eeecec;
justify-content: space-between;
	padding: 0.4rem 0.8rem;
	margin-right: 1rem;
	border-radius: 0.6rem;
	margin-top: 1rem;
align-items: center;
	
}
.recent__user--item,
.recent__user--item1{
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
	
	

}

.type{
	color: var(--color-dark);
	padding-right: 0.3rem;
	font-size: 14px;
}
.user-info{
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	
}

.recenct__recent-status{
	background-color: #00796B;
   
    color: #ccc;
   
    height: 24px;
	align-items: center;
	text-align: center;
	display: flex;
	font-weight: 500;
	justify-content: center;
	padding: 0.3rem 0.4rem;
	font-size: 18px;
	font-family: var(--font-body);
	border-radius: 50rem;
   width: 100px;
 
 }
.user-name{
	color: #555;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--font-heading);
}

.user-type{
	font-size: 17px;
	color: #888;
	font-family: var(--font-body);
}
.time{
	font-family: var(--font-heading);
	color: #666;
	font-size: 14px;
	font-weight: 500;
}
.recent__user--item2{
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.type2{
	padding-inline: 0.3rem;
}
.see-more{
	color: #f1f1f3;
	background-color: #00796B;
	height: 30px;
	width: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	text-decoration: none;
	
	font-weight: 800;
	border-radius: 50%;
	
	transition: all 0.3s linear;
}
.see-more:hover{
	color: #32d487;
}
.recent__user--item2{
	align-items: center;
}
.apt-number{
	width: 100px;
	color: #1c1b2e;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--font-heading);
}
.status{
	font-family: var(--font-body);
	color: var(--color-dark);
	background-color: var(--color-accent);
	padding: 0.3rem 0.6rem;
	border-radius: 1.6rem;
	font-weight: 560;
	font-family: var(--font-body);
}