:root {
	--color-accent: #32d487; /* Green */
	--color-dark: #1c1b2e; /* Dark Blue */
	--color-light: #6dd8a7; /* Light Green */
	--yellow-color: #f2c332;
	--yellow-dark-color: #e3b21f;
	--dark-color: #2e374e;
	--color-dark-transparent: rgba(28, 27, 46, 0.5);
	/* Gradients */
	--gradient-primary: linear-gradient(45deg, #8563c1, #32d487);
	--gradient-secondary: linear-gradient(45deg, #f4f9f6, #6dd8a7);
	--gradient-dark: linear-gradient(45deg, #1c1b2e, #8563c1);
	--background: linear-gradient(135deg, #1c1b2e, #2d2b41);
	/* Fonts */
	--font-body: "Roboto", sans-serif;

	--font-heading: "Inter", sans-serif;

	/* Box Shadows */
	--box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	--box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	--box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}
.general-setting-item{
	display: flex;
	width: 100%;
	gap: 2rem;
	flex-wrap: w;
	padding: 0.4rem 1rem;
	align-items: center;
	
}
.previewlogo img{
	height: 100px;
	width: 100px;
	min-height: 100px;
	min-width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #00796b;
}
.general-settings{
	max-width: 1200px;
	margin: 1rem auto;
	border-radius: 0.4rem;
	
}

textarea{
	text-align: left;
}

.headings{
	color: var(--color-dark);
	font-size: 30px;
	font-family: var(--font-heading);
	font-weight: 500;
	text-transform: capitalize;
}
.general-settings__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   box-shadow: var();
    padding: 20px; /* Add some padding if needed */
}

/* If you want to limit the width of the content */
.general-settings__data > * {
    max-width: 1200px; 
    width: 100%;
}

.form-group-header{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	
}


.form-item{
	width: 100%;
}
textarea,
.form-item input{
	width: 100%;
}


.logo-wrapper{
	display: flex;
	align-items: center;
	width: 80%;
	gap: 2rem;
	
}

.doctor-comission{
	width: 40%;
	
}

.form-group{
	display: flex;
	gap: 3rem;
}
.form-item input , textarea{
	outline:  none;
	border: 1px solid #ccc;
	height: 60px;
	border-radius: 0.4rem;
	font-weight: 500;
	font-family: var(--font-heading);
	font-size: 18px;
	color: var(--color-dark);
	padding: 0.4rem 1rem;
}

.logo{
	border: none;
}
#submitBtn{
	display: flex;
	justify-content: center;
	margin-block: 2rem;
}













