:root {
  --color-primary: #8563c1; /* Purple */
  --color-secondary: #f4f9f6; /* Light Green */
  --color-accent: #32d487; /* Green */
  --color-dark: #1c1b2e; /* Dark Blue */
  --color-light: #6dd8a7; /* Light Green */
  --yellow-color: #f2c332;
  --yellow-dark-color: #e3b21f;
  --dark-color: #2e374e;
  --color-dark-transparent: rgba(28, 27, 46, 0.5);
  /* Gradients */
  --gradient-primary: linear-gradient(45deg, #8563c1, #32d487);
  --gradient-secondary: linear-gradient(45deg, #f4f9f6, #6dd8a7);
  --gradient-dark: linear-gradient(45deg, #1c1b2e, #8563c1);
  --background: linear-gradient(135deg, #1c1b2e, #2d2b41);
  /* Fonts */
  --font-body: "Roboto", sans-serif;

  --font-heading: "Inter", sans-serif;
  --color1-transparent: rgba(46, 55, 78, 0);
  --color2-transparent: rgba(31, 38, 54, 0);
  --color3-transparent: rgba(18, 24, 35, 0);
  --color4-transparent: rgba(11, 15, 22, 0);
  --box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  --box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
body {
  padding: none;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.chat-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  height: 100vh;
  border-top: green;

  border-radius: 0.4rem;
}

.chatbox {
  padding: 0.4rem;
}

.chat-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  margin-top: 0.4rem;
}

.user-name {
  color: #f1f2f5d0;
}

.message {
  color: #777;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-heading);
  letter-spacing: 0.4px;
}

.chat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.unread {
  background-color: var(--color-accent);
  min-width: 22px;
  text-align: center;
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-dark);
  min-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.headings {
  margin-block: 1rem;
  color: #f2f1f1;
  padding-left: 0.6rem;
}

.time {
  color: #32d487;
}

.read-item {
  color: #999;
}

.read {
  opacity: 0;
}

.chat-history {
  height: 100%;
  background: var(--background);
 position: fixed;
 bottom: 0;
 top: 0;
 left: 0;
 width: 400px;
 padding: 1rem 0.8rem;

 
}

.chat-room {
 width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(48, 47, 66, 0.8) 0%,
    rgba(28, 27, 46, 1) 100%
  );
  margin-left: 410px;
  overflow-x: hidden;
  /* padding-right: 2rem ; */


  padding-top: 2rem;
}


.user__message--photo {
  width: 60px;
  min-height: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #32d487;
  min-width: 60px;
}

.message__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid #888;
  /* padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 1rem; */
  padding: 1rem;
  position: fixed;
  margin-left: 428px;
  background-color: #1c1b2e;
  top: 0;
  right: 0;
  left: 0;
}

.name {
  font-size: 20px;
  font-family: var(--font-heading);
  font-weight: 500;
  color: #fafafa;
  margin-bottom: 0.4rem;
}

.user-status {
  color: var(--color-accent);
  font-size: 14px;
  font-family: var(--font-heading);
  font-weight: 500;
  margin-top: 0.2rem;
}
.messages{
  margin-top: 4rem;
  padding-bottom: 5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.message-wrapper {
  position: relative;
  height: 100%;
}

.message__send--box {
 position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem;
 
 margin-left: 428px;
  background: var(--background);

}
.bottom{
  margin-top: 400px;
}

.box-wraper{
  width: 100%;
 display: flex;
  margin-left: -0.3rem;
  position: relative;
}
.message-input input {
  width: 100%;

border-radius: 2.2rem;
margin-right: 0.4rem;
  height: 60px;
  padding-block: 0.8rem;
  padding-left: 1rem;
  font-size: 18px;
  font-family: var(--font-heading);
  outline: none;
  color: #999;
  background-color: rgba(0, 0, 0, 0.16);
  border: none;
  
}

.send__btn {
  background:rgba(0, 0, 0, 0.18);
  border: none;
  position: absolute;
  right: 5%;
  bottom: 90%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  top: 20%;
  font-size: 30px;
  color: var(--color-accent);
  cursor: pointer;

}

.messages {
  padding: 2rem;
  overflow-y: auto; /* Changed from scroll to auto */
  overflow-x: hidden;
}

.senderWrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.receiver {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.4rem;
  border-radius: 1.8rem;
}

.sender {
  background-color: rgba(0, 0, 0, 0.1);
  margin-block: 0.8rem;
  padding: 0.4rem;
  border-radius: 1.8rem;
  align-self: flex-end;
}
.sender:last-child{
  margin-bottom: 10rem;
}
.senderMessage,
.message-text {
  font-size: 20px;
  font-weight: 500;
  padding: 0.2rem;
  color: #999;
  font-family: var(--font-heading);
}
.receiver{
  margin-top: 1rem;
}