/** @format */

:root {
	--color-primary: #8563c1; /* Purple */
	--color-secondary: #f4f9f6; /* Light Green */
	--color-accent: #32d487; /* Green */
	--color-dark: #1c1b2e; /* Dark Blue */
	--color-light: #6dd8a7; /* Light Green */
	--yellow-color: #f2c332;
	--yellow-dark-color: #e3b21f;
	--dark-color: #2e374e;
	--color-dark-transparent: rgba(28, 27, 46, 0.5);
	/* Gradients */
	--gradient-primary: linear-gradient(45deg, #8563c1, #32d487);
	--gradient-secondary: linear-gradient(45deg, #f4f9f6, #6dd8a7);
	--gradient-dark: linear-gradient(45deg, #1c1b2e, #8563c1);
	--background: linear-gradient(135deg, #1c1b2e, #2d2b41);
	/* Fonts */
	--font-body: "Roboto", sans-serif;

	--font-heading: "Inter", sans-serif;
	--color1-transparent: rgba(46, 55, 78, 0);
	--color2-transparent: rgba(31, 38, 54, 0);
	--color3-transparent: rgba(18, 24, 35, 0);
	--color4-transparent: rgba(11, 15, 22, 0);
	--box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	--box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	--box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: 0;
	list-style: none;
}
body {
	margin-top: 8rem;
	overflow-x: hidden;
}
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #fff;
padding-block: 0.8rem;
	box-shadow: var(--box-shadow3);
}
.header--wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
margin: 0 auto;
width: 85%;
}
.logo {
	height: 70px;
	width: 150px;
	object-fit: cover;
	cursor: pointer;
}

.menus {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 0.2rem;
}
.menu-item a {
	font-size: 18px;
	font-family: var(--font-heading);
	font-weight: 500;
	letter-spacing: 0.5;
	color: var(--color-dark);
	transition: all 0.4s ease-in-out;
}
.menu-item a:hover {
	color: var(--color-light);
}
.login-Btn {
	transition: all 0.4s linear;
	background: var(--background);
}
.btn {
	color: var(--color-secondary);
	border: none;
	padding: 0.6rem 2rem;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--font-heading);
	border-radius: 0.2rem;
	cursor: pointer;

	transition: all 0.4s linear;
}
.login-Btn:hover {
	transform: scale(1.1);
}

/* the hero section here */
.section {
	max-width: 80%;
margin-inline: auto;
margin-block: 4rem;

}
.hero-section{
  padding-top: 8rem;
}
.hero__section--wrapper {
	display: flex;
	align-items: center;
}
.hero__section--heading {
	font-size: 34px;
	font-family: var(--font-heading);
	color: #222;
	margin-bottom: 0.4rem;
}
.hero__section--message {
	font-size: 18px;
	word-wrap: break-word;
	max-width: 70%;
	color: #777;
	font-family: var(--font-body);
	line-height: 1.5;
	margin-bottom: 0.6rem;
	font-weight: 400;
}
.action-btn {
	background-color: var(--color-accent);
	margin-top: 1.6rem;
  transition: all 0.4s linear;
}
.action-btn:hover{
  background-color: var(--color-light);
}
/* animation design here */
/* hero left side animation */
@keyframes slideInLeft {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}
/* hero right side animation */
@keyframes slideInRight {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
/* aboout us animation */
@keyframes fadeIn {
  0%{
    opacity: 0.3;
  }
  100%{
   opacity: 1;
  }
}

.hero__section--item1 {
	flex: 2 0 0;
  animation: slideInLeft 1s ease-out;
 
}
.hero__section--item2 {
	flex: 1 0 0;
  animation: slideInRight 1s ease-in;
}
.hero-image img {
	height: 350px;
	width: 300px;
  transform: scale(1.6);
	object-fit: cover;
  position: absolute;

  ;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -58%);
  border-radius: 50%;
  
}
.hero-image {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.hero-image::before {
	background: var(--background);
	border-radius: 50%;
	position: absolute;
	content: "";
height: 290px;
width: 290px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
	
	z-index: -1;
}

/* about us  section design here */
.about__section--image img{
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 0.4rem;
}
.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  animation: fadeIn 1s  linear;
}
.about-section{
  display: flex;
  gap: 4rem;
  justify-content: center;
  width: 80%;
  /* display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  place-items: center; */
  

}

.about__section--item{
  font-size: 18px;
  color: #666;
  font-weight: 400;
  font-family: var(--font-body);
  line-height: 1.3;
  margin-bottom: 1rem;
 
}
.primary-heading{
  font-size: 38px;
  font-family: var(--font-heading);
  color: var(--dark-color);
  margin-block: 1rem;
}
.about__section--items{
  flex: 1;
}